$color-white: #fff;
$color-grey: #bfbab4;

$color-bg: #371c0f;
$color-bg_secondary: #503a30;
$color-bg_tertiary: #765b4f;
$color-bg_disabled: #918683;

$color-accent: #f9c148;

$color-text: #fff;
$color-text_dark: #222831;
$color-text_grey: #6c737e;
$color-text_primary: #f72585;
